### <font color=black>This following analysis will explore the a survey asking Americans which is their favorie starwars film</font>
####  <font color=blue>02 Data Overview</font>

In [36]:
# Read the data set into a dataframe.
# Explore the data by entering star_wars.head(10). Look for any strange values in the columns and rows.
# Review the column names with star_wars.columns.
# Remove any rows where RespondentID is NaN. You can use the pandas.notnull() function to accomplish this. Only select rows where the RespondentID column is not null.
# When you're finished, star_wars should only consist of rows where RespondentID is not NaN.

import pandas as pd

star_wars = pd.read_csv('StarWars.csv', encoding='iso-8859-1')
print(star_wars.head(10))
# for col in star_wars.columns:
#     print(col)
print(star_wars.columns)
    
star_wars = star_wars[pd.notnull(star_wars['RespondentID'])]

   RespondentID Have you seen any of the 6 films in the Star Wars franchise?  \
0           NaN                                           Response
1  3.292880e+09                                                Yes
2  3.292880e+09                                                 No
3  3.292765e+09                                                Yes
4  3.292763e+09                                                Yes
5  3.292731e+09                                                Yes
6  3.292719e+09                                                Yes
7  3.292685e+09                                                Yes
8  3.292664e+09                                                Yes
9  3.292654e+09                                                Yes

  Do you consider yourself to be a fan of the Star Wars film franchise?  \
0                                           Response
1                                                Yes
2                                                NaN
3                                                 No
4                                                Yes
5                                                Yes
6                                                Yes
7                                                Yes
8                                                Yes
9                                                Yes

  Which of the following Star Wars films have you seen? Please select all that apply.  \
0           Star Wars: Episode I  The Phantom Menace
1           Star Wars: Episode I  The Phantom Menace
2                                                NaN
3           Star Wars: Episode I  The Phantom Menace
4           Star Wars: Episode I  The Phantom Menace
5           Star Wars: Episode I  The Phantom Menace
6           Star Wars: Episode I  The Phantom Menace
7           Star Wars: Episode I  The Phantom Menace
8           Star Wars: Episode I  The Phantom Menace
9           Star Wars: Episode I  The Phantom Menace

                                    Unnamed: 4  \
0  Star Wars: Episode II  Attack of the Clones
1  Star Wars: Episode II  Attack of the Clones
2                                          NaN
3  Star Wars: Episode II  Attack of the Clones
4  Star Wars: Episode II  Attack of the Clones
5  Star Wars: Episode II  Attack of the Clones
6  Star Wars: Episode II  Attack of the Clones
7  Star Wars: Episode II  Attack of the Clones
8  Star Wars: Episode II  Attack of the Clones
9  Star Wars: Episode II  Attack of the Clones

                                    Unnamed: 5  \
0  Star Wars: Episode III  Revenge of the Sith
1  Star Wars: Episode III  Revenge of the Sith
2                                          NaN
3  Star Wars: Episode III  Revenge of the Sith
4  Star Wars: Episode III  Revenge of the Sith
5  Star Wars: Episode III  Revenge of the Sith
6  Star Wars: Episode III  Revenge of the Sith
7  Star Wars: Episode III  Revenge of the Sith
8  Star Wars: Episode III  Revenge of the Sith
9  Star Wars: Episode III  Revenge of the Sith

                          Unnamed: 6  \
0  Star Wars: Episode IV  A New Hope
1  Star Wars: Episode IV  A New Hope
2                                NaN
3                                NaN
4  Star Wars: Episode IV  A New Hope
5  Star Wars: Episode IV  A New Hope
6  Star Wars: Episode IV  A New Hope
7  Star Wars: Episode IV  A New Hope
8  Star Wars: Episode IV  A New Hope
9  Star Wars: Episode IV  A New Hope

                                     Unnamed: 7  \
0  Star Wars: Episode V The Empire Strikes Back
1  Star Wars: Episode V The Empire Strikes Back
2                                           NaN
3                                           NaN
4  Star Wars: Episode V The Empire Strikes Back
5  Star Wars: Episode V The Empire Strikes Back
6  Star Wars: Episode V The Empire Strikes Back
7  Star Wars: Episode V The Empire Strikes Back
8  Star Wars: Episode V The Empire Strikes Back
9  Star Wars: Episode V The Empire Strikes Back

                                 Unnamed: 8  \
0  Star Wars: Episode VI Return of the Jedi
1  Star Wars: Episode VI Return of the Jedi
2                                       NaN
3                                       NaN
4  Star Wars: Episode VI Return of the Jedi
5  Star Wars: Episode VI Return of the Jedi
6  Star Wars: Episode VI Return of the Jedi
7  Star Wars: Episode VI Return of the Jedi
8  Star Wars: Episode VI Return of the Jedi
9  Star Wars: Episode VI Return of the Jedi

  Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.  \
0           Star Wars: Episode I  The Phantom Menace
1                                                  3
2                                                NaN
3                                                  1
4                                                  5
5                                                  5
6                                                  1
7                                                  6
8                                                  4
9                                                  5

            ...                    Unnamed: 28  \
0           ...                           Yoda
1           ...                 Very favorably
2           ...                            NaN
3           ...               Unfamiliar (N/A)
4           ...                 Very favorably
5           ...             Somewhat favorably
6           ...                 Very favorably
7           ...                 Very favorably
8           ...                 Very favorably
9           ...             Somewhat favorably

        Which character shot first?  \
0                          Response
1  I don't understand this question
2                               NaN
3  I don't understand this question
4  I don't understand this question
5                            Greedo
6                               Han
7                               Han
8                               Han
9                               Han

  Are you familiar with the Expanded Universe?  \
0                                     Response
1                                          Yes
2                                          NaN
3                                           No
4                                           No
5                                          Yes
6                                          Yes
7                                          Yes
8                                           No
9                                           No

  Do you consider yourself to be a fan of the Expanded Universe?æ  \
0                                           Response
1                                                 No
2                                                NaN
3                                                NaN
4                                                NaN
5                                                 No
6                                                 No
7                                                 No
8                                                NaN
9                                                NaN

  Do you consider yourself to be a fan of the Star Trek franchise?    Gender  \
0                                           Response                Response
1                                                 No                    Male
2                                                Yes                    Male
3                                                 No                    Male
4                                                Yes                    Male
5                                                 No                    Male
6                                                Yes                    Male
7                                                 No                    Male
8                                                Yes                    Male
9                                                 No                    Male

        Age     Household Income                         Education  \
0  Response             Response                          Response
1     18-29                  NaN                High school degree
2     18-29         $0 - $24,999                   Bachelor degree
3     18-29         $0 - $24,999                High school degree
4     18-29  $100,000 - $149,999  Some college or Associate degree
5     18-29  $100,000 - $149,999  Some college or Associate degree
6     18-29    $25,000 - $49,999                   Bachelor degree
7     18-29                  NaN                High school degree
8     18-29                  NaN                High school degree
9     18-29         $0 - $24,999  Some college or Associate degree

  Location (Census Region)
0                 Response
1           South Atlantic
2       West South Central
3       West North Central
4       West North Central
5       West North Central
6          Middle Atlantic
7       East North Central
8           South Atlantic
9           South Atlantic

[10 rows x 38 columns]
Index(['RespondentID',
       'Have you seen any of the 6 films in the Star Wars franchise?',
       'Do you consider yourself to be a fan of the Star Wars film franchise?',
       'Which of the following Star Wars films have you seen? Please select all that apply.',
       'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8',
       'Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14',
       'Please state whether you view the following characters favorably, unfavorably, or are unfamiliar with him/her.',
       'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27',
       'Unnamed: 28', 'Which character shot first?',
       'Are you familiar with the Expanded Universe?',
       'Do you consider yourself to be a fan of the Expanded Universe?æ',
       'Do you consider yourself to be a fan of the Star Trek franchise?',
       'Gender', 'Age', 'Household Income', 'Education',
       'Location (Census Region)'],
      dtype='object')

####  <font color=blue>03 Cleaning and Mapping Yes/No Columns</font>

In [37]:
# Convert the Have you seen any of the 6 films in the Star Wars franchise? column to the Boolean type.
# Convert the Do you consider yourself to be a fan of the Star Wars film franchise? column to the Boolean type.
# When you're finished, both columns should only contain the values True, False, and NaN.

yes_no = {
    "Yes": True,
    "No": False
}

star_wars['Have you seen any of the 6 films in the Star Wars franchise?'] = star_wars['Have you seen any of the 6 films in the Star Wars franchise?'].map(yes_no)
star_wars['Do you consider yourself to be a fan of the Star Wars film franchise?'] = star_wars['Do you consider yourself to be a fan of the Star Wars film franchise?'].map(yes_no)

print(star_wars['Have you seen any of the 6 films in the Star Wars franchise?'].value_counts())

star_wars['Do you consider yourself to be a fan of the Star Wars film franchise?'].value_counts()

True     936
False    250
Name: Have you seen any of the 6 films in the Star Wars franchise?, dtype: int64

True     552
False    284
Name: Do you consider yourself to be a fan of the Star Wars film franchise?, dtype: int64

####  <font color=blue>04 Cleaning and Mapping Checkbox Columns</font>

In [38]:
# Convert each column above so that it only contains the values True and False.
    # You can select the column names more quickly by entering star_wars.columns[3:9], rather than typing them out.
    # Be very careful with spacing when constructing your mapping dictionary! In the cells, Star Wars: Episode I The Phantom Menace has two spaces between the end of Episode I and the start of The Phantom, but this is not the case in Star Wars: Episode VI Return of the Jedi. Check the values in the cells carefully to make sure you use the appropriate spacing.
# Rename each of the columns above so the names are more intuitive. We recommend using seen_1 to indicate whether the respondent saw Star Wars: Episode I The Phantom Menace, seen_2 for Star Wars: Episode II Attack of the Clones, and so on.
# When you're finished, the columns should have intuitive names, along with True and False values that indicate whether the respondent saw each of the six Star Wars movies.

import numpy as np

movie_mapping = {
    "Star Wars: Episode I  The Phantom Menace": True,
    np.nan: False,
    "Star Wars: Episode II  Attack of the Clones": True,
    "Star Wars: Episode III  Revenge of the Sith": True,
    "Star Wars: Episode IV  A New Hope": True,
    "Star Wars: Episode V The Empire Strikes Back": True,
    "Star Wars: Episode VI Return of the Jedi": True
}

for col in star_wars.columns[3:9]:
    star_wars[col] = star_wars[col].map(movie_mapping)
    
rename_columns = {
    "Which of the following Star Wars films have you seen? Please select all that apply.": "seen_1",
    "Unnamed: 4": "seen_2",
    "Unnamed: 5": "seen_3",
    "Unnamed: 6": "seen_4",
    "Unnamed: 7": "seen_5",
    "Unnamed: 8": "seen_6",
}

star_wars.rename(columns=rename_columns)

,RespondentID,Have you seen any of the 6 films in the Star Wars franchise?,Do you consider yourself to be a fan of the Star Wars film franchise?,seen_1,seen_2,seen_3,seen_4,seen_5,seen_6,Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.,...,Unnamed: 28,Which character shot first?,Are you familiar with the Expanded Universe?,Do you consider yourself to be a fan of the Expanded Universe?æ,Do you consider yourself to be a fan of the Star Trek franchise?,Gender,Age,Household Income,Education,Location (Census Region)
1,3.292880e+09,True,True,True,True,True,True,True,True,3,...,Very favorably,I don't understand this question,Yes,No,No,Male,18-29,NaN,High school degree,South Atlantic
2,3.292880e+09,False,NaN,False,False,False,False,False,False,NaN,...,NaN,NaN,NaN,NaN,Yes,Male,18-29,"$0 - $24,999",Bachelor degree,West South Central
3,3.292765e+09,True,False,True,True,True,False,False,False,1,...,Unfamiliar (N/A),I don't understand this question,No,NaN,No,Male,18-29,"$0 - $24,999",High school degree,West North Central
4,3.292763e+09,True,True,True,True,True,True,True,True,5,...,Very favorably,I don't understand this question,No,NaN,Yes,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central
5,3.292731e+09,True,True,True,True,True,True,True,True,5,...,Somewhat favorably,Greedo,Yes,No,No,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central
6,3.292719e+09,True,True,True,True,True,True,True,True,1,...,Very favorably,Han,Yes,No,Yes,Male,18-29,"$25,000 - $49,999",Bachelor degree,Middle Atlantic
7,3.292685e+09,True,True,True,True,True,True,True,True,6,...,Very favorably,Han,Yes,No,No,Male,18-29,NaN,High school degree,East North Central
8,3.292664e+09,True,True,True,True,True,True,True,True,4,...,Very favorably,Han,No,NaN,Yes,Male,18-29,NaN,High school degree,South Atlantic
9,3.292654e+09,True,True,True,True,True,True,True,True,5,...,Somewhat favorably,Han,No,NaN,No,Male,18-29,"$0 - $24,999",Some college or Associate degree,South Atlantic
10,3.292640e+09,True,False,False,True,False,False,False,False,1,...,Very favorably,I don't understand this question,No,NaN,No,Male,18-29,"$25,000 - $49,999",Some college or Associate degree,Pacific
11,3.292638e+09,True,NaN,False,False,False,False,False,False,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,3.292635e+09,False,NaN,False,False,False,False,False,False,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,3.292609e+09,True,False,True,True,True,True,True,True,3,...,Very favorably,Greedo,No,NaN,No,Male,18-29,"$25,000 - $49,999",Bachelor degree,South Atlantic
14,3.292597e+09,True,True,True,True,True,True,True,True,4,...,Very favorably,I don't understand this question,No,NaN,No,Male,30-44,"$50,000 - $99,999",Graduate degree,Mountain
15,3.292587e+09,True,True,True,True,True,True,True,True,4,...,Very favorably,Han,No,NaN,No,Male,18-29,NaN,High school degree,East North Central
16,3.292583e+09,True,True,True,True,True,True,True,True,4,...,Somewhat favorably,Han,Yes,Yes,Yes,Male,18-29,"$0 - $24,999",Some college or Associate degree,West South Central
17,3.292581e+09,True,True,False,False,False,True,False,False,4,...,Very unfavorably,Han,Yes,Yes,No,Male,18-29,"$50,000 - $99,999",Bachelor degree,New England
18,3.292573e+09,True,True,True,True,True,False,False,True,1,...,Very favorably,Greedo,No,NaN,No,Male,18-29,NaN,Some college or Associate degree,Middle Atlantic
19,3.292565e+09,True,True,True,True,True,True,True,True,6,...,Very favorably,Han,No,NaN,No,Male,18-29,NaN,High school degree,South Atlantic
20,3.292562e+09,True,True,True,True,True,True,True,True,6,...,Very favorably,Greedo,No,NaN,Yes,Male,18-29,"$50,000 - $99,999",Some college or Associate degree,West North Central
21,3.292522e+09,True,True,True,True,True,True,True,True,6,...,Very favorably,Han,No,NaN,No,Male,18-29,NaN,Some college or Associate degree,Pacific
22,3.292521e+09,True,False,True,True,True,True,True,False,3,...,Neither favorably nor unfavorably (neutral),I don't understand this question,No,NaN,No,Male,18-29,NaN,Bachelor degree,Pacific
23,3.292512e+09,True,True,True,True,True,True,True,True,6,...,Very favorably,Greedo,Yes,Yes,Yes,Male,18-29,"$50,000 - $99,999",Bachelor degree,South Atlantic
24,3.292483e+09,True,True,True,True,True,True,True,True,6,...,Very favorably,Han,No,NaN,No,Male,18-29,"$0 - $24,999",Bachelor degree,Pacific
25,3.292465e+09,True,True,True,True,True,True,True,True,1,...,Very favorably,Han,No,NaN,No,Male,18-29,NaN,NaN,East North Central
26,3.292448e+09,False,NaN,False,False,False,False,False,False,NaN,...,NaN,NaN,NaN,NaN,Yes,Male,18-29,"$0 - $24,999",High school degree,East South Central
27,3.292420e+09,True,True,True,True,True,True,True,True,4,...,Very favorably,Greedo,Yes,No,No,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,South Atlantic
28,3.292384e+09,True,True,True,True,True,True,True,True,6,...,Very favorably,Greedo,No,NaN,No,Male,18-29,NaN,Some college or Associate degree,Middle Atlantic
29,3.292380e+09,True,True,True,True,True,True,True,True,6,...,Very favorably,Han,Yes,No,No,Male,18-29,NaN,Some college or Associate degree,Middle Atlantic
30,3.292377e+09,True,True,True,True,True,True,True,True,4,...,Very favorably,Han,Yes,Yes,Yes,Male,18-29,"$150,000+",Some college or Associate degree,East North Central
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1157,3.288426e+09,True,False,True,True,True,True,True,True,3,...,Very favorably,I don't understand this question,No,NaN,No,Female,30-44,"$50,000 - $99,999",Graduate degree,Middle Atlantic
1158,3.288423e+09,False,NaN,False,False,False,False,False,False,NaN,...,NaN,NaN,NaN,NaN,No,Male,45-60,"$100,000 - $149,999",Graduate degree,Middle Atlantic
1159,3.288423e+09,True,False,False,False,False,False,True,True,2,...,Very favorably,I don't understand this question,No,NaN,No,Female,45-60,"$0 - $24,999",Bachelor degree,Pacific
1160,3.288422e+09,False,NaN,False,False,False,False,False,False,NaN,...,NaN,NaN,NaN,NaN,No,Female,> 60,"$0 - $24,999",Some college or Associate degree,West South Central
1161,3.288421e+09,True,False,True,False,True,False,False,True,3,...,Very favorably,I don't understand this question,No,NaN,No,Female,18-29,"$25,000 - $49,999",Some college or Associate degree,Pacific
1162,3.288418e+09,True,False,True,True,True,False,True,True,3,...,Neither favorably nor unfavorably (neutral),Greedo,No,NaN,No,NaN,NaN,NaN,NaN,NaN
1163,3.288418e+09,True,True,True,False,False,True,True,True,4,...,Very favorably,I don't understand this question,No,NaN,No,Female,18-29,"$25,000 - $49,999",Graduate degree,South Atlantic
1164,3.288417e+09,True,False,False,False,False,True,True,True,5,...,Very favorably,Han,Yes,No,No,Female,> 60,NaN,Bachelor degree,New England
1165,3.288415e+09,True,False,True,True,True,False,True,True,5,...,Neither favorably nor unfavorably (neutral),Han,No,NaN,No,Male,45-60,"$100,000 - $149,999",Graduate degree,Middle Atlantic
1166,3.288414e+09,True,True,True,True,True,True,True,True,5,...,Very favorably,Greedo,No,NaN,Yes,Female,30-44,"$50,000 - $99,999",Bachelor degree,Mountain
1167,3.288413e+09,True,True,True,True,True,True,True,True,6,...,Very favorably,I don't understand this question,No,NaN,No,Female,18-29,"$150,000+",Some college or Associate degree,South Atlantic
1168,3.288410e+09,True,False,True,False,False,False,True,True,3,...,Very favorably,Greedo,Yes,No,No,Female,30-44,NaN,Graduate degree,East North Central
1169,3.288410e+09,False,NaN,False,False,False,False,False,False,NaN,...,NaN,NaN,NaN,NaN,No,Female,30-44,"$150,000+",Graduate degree,East North Central
1170,3.288409e+09,True,True,True,False,False,True,True,True,4,...,Very favorably,Han,No,NaN,Yes,Male,45-60,"$25,000 - $49,999",Bachelor degree,South Atlantic
1171,3.288403e+09,False,NaN,False,False,False,False,False,False,NaN,...,NaN,NaN,NaN,NaN,No,Female,45-60,NaN,Graduate degree,East North Central
1172,3.288403e+09,True,True,True,True,True,True,True,True,6,...,Somewhat unfavorably,Han,Yes,Yes,Yes,Female,> 60,"$25,000 - $49,999",Bachelor degree,Mountain
1173,3.288403e+09,True,True,False,False,False,True,True,True,2,...,Somewhat favorably,Greedo,Yes,No,Yes,Female,> 60,NaN,High school degree,Pacific
1174,3.288403e+09,True,True,True,True,True,True,True,True,5,...,Very favorably,Han,No,NaN,Yes,Female,30-44,NaN,Bachelor degree,Middle Atlantic
1175,3.288402e+09,True,False,True,True,True,False,False,False,1,...,Very favorably,I don't understand this question,No,NaN,Yes,Female,> 60,NaN,Some college or Associate degree,West North Central
1176,3.288401e+09,True,True,True,True,True,True,True,True,1,...,Somewhat favorably,Han,Yes,No,Yes,Female,45-60,"$50,000 - $99,999",Graduate degree,West South Central
1177,3.288398e+09,True,False,True,True,False,False,False,False,2,...,Neither favorably nor unfavorably (neutral),I don't understand this question,No,NaN,No,Female,45-60,"$0 - $24,999",High school degree,Middle Atlantic
1178,3.288396e+09,True,False,True,True,True,False,True,True,1,...,Very favorably,I don't understand this question,No,NaN,Yes,Male,> 60,"$50,000 - $99,999",Some college or Associate degree,Pacific
1179,3.288395e+09,False,NaN,False,False,False,False,False,False,NaN,...,NaN,NaN,NaN,NaN,No,Female,18-29,NaN,Less than high school degree,West North Central
1180,3.288392e+09,True,True,False,False,False,False,True,True,3,...,Very favorably,Han,No,NaN,Yes,Female,45-60,"$0 - $24,999",Some college or Associate degree,West North Central
1181,3.288390e+09,True,True,True,True,True,True,True,True,3,...,Very favorably,Han,No,NaN,No,Female,45-60,"$0 - $24,999",Some college or Associate degree,Pacific
1182,3.288389e+09,True,True,True,True,True,True,True,True,5,...,Very favorably,Han,No,NaN,Yes,Female,18-29,"$0 - $24,999",Some college or Associate degree,East North Central
1183,3.288379e+09,True,True,True,True,True,True,True,True,4,...,Very favorably,I don't understand this question,No,NaN,Yes,Female,30-44,"$50,000 - $99,999",Bachelor degree,Mountain
1184,3.288375e+09,False,NaN,False,False,False,False,False,False,NaN,...,NaN,NaN,NaN,NaN,No,Female,30-44,"$50,000 - $99,999",Bachelor degree,Middle Atlantic
1185,3.288373e+09,True,True,True,True,True,True,True,True,4,...,Very favorably,Han,No,NaN,Yes,Female,45-60,"$100,000 - $149,999",Some college or Associate degree,East North Central
1186,3.288373e+09,True,False,True,True,False,False,True,True,6,...,Very unfavorably,I don't understand this question,No,NaN,No,Female,> 60,"$50,000 - $99,999",Graduate degree,Pacific